{{ register_asset_bundle('frontend/assets/AppAsset') }}{{ use('frontend/widgets/Menu') }}{{ void(this.beginPage()) }}<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <title>{{ this.title| raw }}</title>
    {{ html.csrfMetaTags| raw }}
    {{ void(this.head) }}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
{{ void(this.beginBody()) }}
<header>
    <div class="container-fluid">
        <div class="container_menu row">
            <div class="col-md-2 col-sm-12 col-xs-4">
                <a href="/"><img src="{{ app.request.hostInfo }}/images/logo.png" alt="ООО «Красбер»" class="logo" title="Создание и раскрутка сайтов, «Красбер»"></a>
            </div>
            <div class="col-md-3 col-md-push-7 col-sm-12">
                <div class="header_contacts hidden-xs">
                    <p><a href="tel:89787547499">8 (978) 754-74-99</a></p>
                    <p><a href="mailto:info@krasber.ru">info@krasber.ru</a></p>
                </div>
                <!-- /.header_contacts -->
            </div>
            <div class="col-md-7 col-md-pull-3 col-sm-12 col-xs-8">
                <nav class="navbar center-block">
                    <div class="navbar-header">
                        <div class="header_contacts-mobile visible-xs">
                            <ul>
                                <li><a href="tel:89787547499" class="icon icon_phone"></a></li>
                                <li><a href="#write_message" class="icon icon_envelope fancy_call-btn"></a></li>
                                <li><a href="#" class="icon icon_share"></a></li>
                            </ul>
                        </div>
                        <button type="button" class="navbar-toggle toggle-mnu">
                            <span></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse">
                        {{ menu_widget({'sysName': 'menu_header', 'cssClass': 'nav navbar-nav'}) }}
                    </div><!--/.nav-collapse -->
                </nav>
                <div class="socials_mobile visible-xs">
                    <ul class="socials">
                        <li><a href="#" target="_blank"><i class="icon icon_fb"></i> Facebook</a></li>
                        <li><a href="#" target="_blank"><i class="icon icon_vk"></i> VKONTAKTE</a></li>
                        <li><a href="#" target="_blank"><i class="icon icon_od"></i> Одноклассники</a></li>
                        <li><a href="#" target="_blank"><i class="icon icon_in"></i> Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container_menu -->
        {{ this.blocks['carousel']| raw }}
    </div>
    <!-- /.container-fluid -->
</header>

{{ content| raw }}

<div class="container-fluid footer">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="title">наши услуги</div>
            {{ menu_widget({'sysName': 'menu_footer_first'}) }}
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="title">контакты</div>
            <a href="mailto:info@krasber.ru">info@krasber.ru</a>
            <a href="tel:89787547499">8 (978) 754-74-99</a>
            <ul class="socials">
                <li><a href="#"><i class="icon icon_fb"></i></a></li>
                <li><a href="#"><i class="icon icon_vk"></i></a></li>
                <li><a href="#"><i class="icon icon_od"></i></a></li>
                <li><a href="#"><i class="icon icon_in"></i></a></li>
            </ul>
            <div class="title">МЕССЕНДЖЕРЫ</div>
            <p>Звоните, пишите,<br /> пообщаемся, договоримся!</p>
            <ul class="messengers">
                <li><a href="#"><i class="icon icon_telegram"></i></a></li>
                <li><a href="#"><i class="icon icon_whatsapp"></i></a></li>
                <li><a href="#"><i class="icon icon_skype"></i></a></li>
                <li><a href="#"><i class="icon icon_viber"></i></a></li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="title">Нижнее меню</div>
            {{ menu_widget({'sysName': 'menu_footer'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="copy">
                © 2017 Создание и продвижение сайтов. ООО «Красбер»
            </div>
        </div>
    </div>
</div>

<ul class="contacts_box hidden-xs">
    <li>
        <a href="#write_message" class="fancy_call-btn"><i class="icon icon_envelope"></i></a>
        <p>Написать нам телеграмму</p>
    </li>
    <li>
        <a href="#recall" class="fancy_call-btn"><i class="icon icon_phone"></i></a>
        <p>Вам перезвонить? Заполняйте форму:)</p>
    </li>
    <li>
        <i class="icon icon_up"></i>
        <p>В самый вверх!</p>
    </li>
</ul>
<!-- /.contacts_box -->

{{ use('frontend/widgets/Order') }}
{{ order_widget() }}

{{ use('frontend/widgets/WriteMessage') }}
{{ write_message_widget() }}

{{ use('frontend/widgets/Recall') }}
{{ recall_widget() }}

<div id="portfolio_popup" class="form_box"></div>
<!-- /#portfolio_popup -->

<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45495162 = new Ya.Metrika({ id:45495162, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <!-- /Yandex.Metrika counter --><!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45495162 = new Ya.Metrika({ id:45495162, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <!-- /Yandex.Metrika counter -->
{{ void(this.endBody()) }}
</body>
</html>{{ void(this.endPage()) }}