{{ register_asset_bundle('frontend/assets/AppAsset') }}{{ use('frontend/widgets/Menu') }}{{ void(this.beginPage()) }}<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <title>{{ this.title| raw }}</title>
    {{ html.csrfMetaTags| raw }}
    {{ void(this.head) }}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
{{ void(this.beginBody()) }}
<header>
    <div class="container-fluid">
        <div class="container_menu row">
            <div class="col-md-2 col-sm-12 col-xs-4">
                <a href="/"><img src="images/logo.png" alt="logo" class="logo" title="Красбер"></a>
            </div>
            <div class="col-md-3 col-md-push-7 col-sm-12">
                <div class="header_contacts hidden-xs">
                    <p><a href="tel:89787547499">8 (978) 754-74-99</a></p>
                    <p><a href="mailto:info@krasber.ru">info@krasber.ru</a></p>
                </div>
                <!-- /.header_contacts -->
            </div>
            <div class="col-md-7 col-md-pull-3 col-sm-12 col-xs-8">
                <nav class="navbar center-block">
                    <div class="navbar-header">
                        <div class="header_contacts-mobile visible-xs">
                            <ul>
                                <li><a href="tel:89787547499" class="icon icon_phone"></a></li>
                                <li><a href="#write_message" class="icon icon_envelope fancy_call-btn"></a></li>
                                <li><a href="#" class="icon icon_share"></a></li>
                            </ul>
                        </div>
                        <button type="button" class="navbar-toggle toggle-mnu">
                            <span></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse">
                        {{ menu_widget({'sysName': 'menu_header', 'cssClass': 'nav navbar-nav'}) }}
                    </div><!--/.nav-collapse -->
                </nav>
                <div class="socials_mobile visible-xs">
                    <ul class="socials">
                        <li><a href="#" target="_blank"><i class="icon icon_fb"></i> Facebook</a></li>
                        <li><a href="#" target="_blank"><i class="icon icon_vk"></i> VKONTAKTE</a></li>
                        <li><a href="#" target="_blank"><i class="icon icon_od"></i> Одноклассники</a></li>
                        <li><a href="#" target="_blank"><i class="icon icon_in"></i> Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container_menu -->
        {{ this.blocks['carousel']| raw }}
    </div>
    <!-- /.container-fluid -->
</header>

{{ content| raw }}

<div class="container-fluid footer">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="title">наши плюшки</div>
            <ul>
                <li>Создание сайта</li>
                <li>Создание сайта</li>
                <li> на готовом дизайне</li>
                <li>Редизайн + новая cms</li>
                <li>Домен - хостинг</li>
                <li>Реклама</li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="title">контакты</div>
            <a href="mailto:info@krasber.ru">info@krasber.ru</a>
            <a href="tel:89787547499">8 (978) 754-74-99</a>
            <ul class="socials">
                <li><a href="#"><i class="icon icon_fb"></i></a></li>
                <li><a href="#"><i class="icon icon_vk"></i></a></li>
                <li><a href="#"><i class="icon icon_od"></i></a></li>
                <li><a href="#"><i class="icon icon_in"></i></a></li>
            </ul>
            <div class="title">МЕССЕНДЖЕРЫ</div>
            <p>Звоните, пишите,<br /> пообщаемся, договоримся!</p>
            <ul class="messengers">
                <li><a href="#"><i class="icon icon_telegram"></i></a></li>
                <li><a href="#"><i class="icon icon_whatsapp"></i></a></li>
                <li><a href="#"><i class="icon icon_skype"></i></a></li>
                <li><a href="#"><i class="icon icon_viber"></i></a></li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="title">Нижнее меню</div>
            {{ menu_widget({'sysName': 'menu_footer'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="copy">
                © 2000-2017  Создание и продвижение сайтов. ООО «Красбер»
            </div>
        </div>
    </div>
</div>

<ul class="contacts_box hidden-xs">
    <li>
        <a href="#write_message" class="fancy_call-btn"><i class="icon icon_envelope"></i></a>
        <p>Написать нам телеграмму</p>
    </li>
    <li>
        <a href="#recall" class="fancy_call-btn"><i class="icon icon_phone"></i></a>
        <p>Вам перезвонить? Заполняйте форму:)</p>
    </li>
    <li>
        <i class="icon icon_up"></i>
        <p>В самый вверх!</p>
    </li>
</ul>
<!-- /.contacts_box -->

<div id="order_service" class="form_box">
    <div class="header">
        <div class="title">ЗАКАЗАТЬ УСЛУГУ</div>
        <div class="info">
            <div>Если вы решите создать сайт и продвигать его в компании, проверенной временем и с положительными отзывами, вы не пожалеете.</div>
        </div>
        <!-- /.info -->
    </div>
    <!-- /.header -->
    <div class="body">
        <form action="#">
            <div class="label_service-name">название услуги</div>
            <div class="service_name">Создание сайта на готовом дизайне</div>

            <div class="form-group phone">
                <input type="text" placeholder="Телефон">
            </div>

            <div class="form-group email">
                <input type="email" placeholder="Email">
            </div>

            <div class="form-group">
                <input type="text" placeholder="ФИО">
            </div>

            <div class="form-group">
                <textarea placeholder="дополнительная информация"></textarea>
            </div>

            <div class="form-group submit_box">
                <a class="order_btn hvr-bounce-to-right" href="#order_service">ЗАКАЗАТЬ</a>
            </div>

        </form>
    </div>
    <!-- /.body -->
</div>
<!-- /#order_service -->

{{ use('frontend/widgets/WriteMessage') }}
{{ write_message_widget() }}

{{ use('frontend/widgets/Recall') }}
{{ recall_widget() }}

<div id="portfolio_popup" class="form_box">
    <div class="portfolio_popup-carousel owl-carousel">
        <div class="item">
            <img src="/images/portfolio_single_image_01.png" alt="alt">
        </div>
        <div class="item">
            <img src="/images/portfolio_single_image_02.png" alt="alt">
        </div>
        <div class="item">
            <img src="/images/portfolio_single_image_01.png" alt="alt">
        </div>
    </div>
    <!-- /.portfolio_popup-carousel -->
    <div class="portfolio_popup-desc">
        <div class="portfolio_popup-desc-domain">
            example.com
        </div>
        <!-- /.portfolio_popup-domain -->
        <div class="portfolio_popup-desc-main">
            <p>Если вы решите создать сайт и продвигать его в компании, проверенной временем и с положительными отзывами, вы не пожалеете.</p>
        </div>
        <!-- /.portfolio_popup-main -->
        <div class="portfolio_popup-desc-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet doloremque eaque esse expedita id ipsa ipsum, itaque magnam molestiae mollitia pariatur ratione, veniam. Atque consectetur distinctio dolore hic vel.</p>
        </div>
        <!-- /.portfolio_popup-text -->
    </div>
    <!-- /.portfolio_popup-desc -->
</div>
<!-- /#portfolio_popup -->

{{ void(this.endBody()) }}
</body>
</html>{{ void(this.endPage()) }}