{% if model %}
<div class="lp_box">
    <ul>
        {% for item in model %}
        <li>
            <div class="hover_box tran4s">
                <div class="hover_box-item">
                    <span>{{ item.name }}</span>
                    {% if item.link %}
                        <a href="{{ item.link }}" rel="nofollow" target="_blank" class="btn_view order_btn hvr-bounce-to-right">Подробнее</a>
                    {% else %}
                        <a href="{{ path('landings/show', {'id' : item.id}) }}" target="_blank" class="btn_view order_btn hvr-bounce-to-right">Подробнее</a>
                    {% endif %}
                </div>
            </div>
            <img src="/userfiles/landings/{{ item.image }}" alt="{{ item.image_alt }}" title="{{ item.image_title }}">
        </li>
        {% endfor %}
    </ul>
</div>
<!-- /.lp_box -->
{% endif %}