<div class="list_items">
    <ul>
        {% for item in model %}
            <li>
                <div class="item_header">
                    <div class="item_name"><a href="{{ path('news/show', {'alias' : item.alias}) }}">{{ item.name }}</a></div>
                    <div class="item_date">{{ app.formatter.asDate(item.date) }}</div>
                </div>
                <div class="item_body">
                    <a href="{{ path('news/show', {'alias' : item.alias}) }}">
                        <img src="/userfiles/news/{{ item.image }}" alt="{{ item.image_alt }}" title="{{ item.image_title }}">
                    </a>
                    {{ item.preview| raw }}
                    <div class="clearfix"></div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- /.list__items -->