<div class="row">
    <div class="col-md-12 center">
        <div class="delimiter"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        {% if news %}
        <div class="sb-block">
            <div class="news_sb-block-name">Новости</div>
            <ul>
                {% for item in news %}
                <li>
                    <div class="img_with-name">
                        <a href="{{ path('news/show', {'alias' : item.alias}) }}" class="image_link"><img src="/userfiles/news/{{ item.image }}" alt="{{ item.image_alt }}" title="{{ item.image_title }}"></a>
                        <div class="name"><a href="{{ path('news/show', {'alias' : item.alias}) }}">{{ item.name }}</a></div>
                    </div>
                    <!-- /.img_with-name -->
                    <div class="preview">
                        {{ stringHelper.truncateWords(item.preview,25)| raw }}
                    </div>
                    <div class="clearfix"></div>
                </li>
                {% endfor %}
            </ul>
            <div class="news_sb-block-footer">
                <a href="{{ path('site/page', {'alias': 'news'}) }}">Читать все</a>
            </div>
        </div>
        <!-- /.sb-block -->
        {% endif %}
    </div>
    <div class="col-md-6 col-xs-12">
        {% if articles %}
        <div class="sb-block">
            <div class="news_sb-block-name">Статьи</div>
            <ul>
                {% for item in articles %}
                    <li>
                        <div class="img_with-name">
                            <a href="{{ path('articles/show', {'alias' : item.alias}) }}" class="image_link"><img src="/userfiles/articles/{{ item.image }}" alt="{{ item.image_alt }}" title="{{ item.image_title }}"></a>
                            <div class="name"><a href="{{ path('articles/show', {'alias' : item.alias}) }}">{{ item.name }}</a></div>
                        </div>
                        <!-- /.img_with-name -->
                        <div class="preview">
                            {{ stringHelper.truncateWords(item.preview,25)| raw }}
                        </div>
                        <div class="clearfix"></div>
                    </li>
                {% endfor %}
            </ul>
            <div class="news_sb-block-footer">
                <a href="{{ path('site/page', {'alias': 'articles'}) }}">Читать все</a>
            </div>
        </div>
        <!-- /.sb-block -->
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12 center">
        <div class="delimiter"></div>
    </div>
</div>