{% if model %}
    <div class="portfolio_slider">
        <div id="portfolio" class="owl-carousel">
            {% for item in model %}
            <div class="item">
                <div class="screen_box">
                    <a class="btn_view order_btn hvr-bounce-to-right" href="#" data-link="{{ path('portfolio/show', {'id' : item.id}) }}">подробнее</a>
                    <img src="/userfiles/gallery/{{ item.id }}/{{ item.portfolioImages[0].name }}_thumb.{{ item.portfolioImages[0].ext }}" alt="{{ item.portfolioImages[0].alt }}" title="{{ item.portfolioImages[0].title }}">
                </div>
                <div class="project_name">{{ item.name }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- /.portfolio_slider -->
{% endif %}