{% if model %}
    <div class="products_box">
        {% for item in model %}
            <div class="plans_item">
                <div class="title{% if item.color %} {{ item.color }}{% endif %}">{{ item.name }}</div>
                <div class="price">{{ item.price }}</div>
                <div class="desc">
                    {{ item.description| raw }}
                    <a class="order_btn hvr-bounce-to-right fancy_call-btn" href="#order_service" data-service="{{ item.name }}">{{ item.btn_text }}</a>
                </div>
            </div>
            <!-- /.plans_item -->
        {% endfor %}
    </div>
    <!-- /.products_box -->
{% endif %}