{% if model %}
    <div class="services_box">
        {% for item in model %}
            <div class="services_box-item">
                <a href="{{ path('services/show', {'alias' : item.alias}) }}">
                    <img alt="{{ item.image_alt }}" title="{{ item.image_title }}" src="/userfiles/services/{{ item.image }}" />
                </a>
                <div class="title_box">
                    <a class="title" href="{{ path('services/show', {'alias' : item.alias}) }}">{{ item.name }}</a>
                </div>

                <div class="desc">
                    {{ item.preview| raw }}
                </div>
                <a class="order_btn fancy_call-btn hvr-bounce-to-right" data-service="{{ item.name }}" href="#order_service">ЗАКАЗАТЬ УСЛУГУ</a></div>
            <!-- /.services_box-item -->
        {% endfor %}
    </div>
{% endif %}