<div id="subscribe_form" class="form_box">
    <div class="header">
        <div class="title">Подпишитесь сейчас</div>
        <div class="info">
            <div>Получайте 10% скидку на создание сайта и доступ к полезной информации<br />Подпишитесь сейчас</div>
        </div>
        <!-- /.info -->
    </div>
    <!-- /.header -->
    <div class="body">
        {% set form = active_form_begin({
            'action': path('/send/subscribe'),
            'id': 'subscribe-form'
        }) %}
            {{ html.tag('div','',{'class': 'alert'})| raw }}
            {{ form.field(modelForm, 'name').textInput({'placeholder': 'Ваше имя'}).label(false)| raw }}
            {{ form.field(modelForm, 'email').textInput({'placeholder': 'Ваш email'}).label(false)| raw }}
            <div class="form-group agree_personal-data">
                *Оставляя заявку вы соглашаетесь на <a href="{{ path('site/page', {'alias': 'personal-data'}) }}">обработку персональных данных</a>
            </div>
            <div class="form-group submit_box">
                {{ html.submitButton('Заказать', {'class': 'order_btn hvr-bounce-to-right'})| raw }}
            </div>
        {{ active_form_end() }}
    </div>
    <!-- /.body -->
</div>
<!-- /#write_message -->