{{ set(this, 'title', model.title) }}
{{ this.registerMetaTag({'name':'description', 'content': model.description}) }}

{% if model.slider_text_id %}
    {{ void(this.beginBlock('carousel')) }}
        {{ use('frontend/widgets/Slider') }}
        {{ slider_widget({'items': model.sliderText.sliderTextItems }) }}
    {{ void(this.endBlock()) }}
{% endif %}

<div class="container wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="center content">
                <h1>{{ model.name }}</h1>
                {{ model.text| raw }}
            </div>

            {% if sofWorks %}
                <div class="stages_of-work">
                    {% for item in sofWorks %}
                        <div class="stages_of-work-item">
                            <img src="/userfiles/sof_work/{{ item.image }}" alt="{{ item.image_alt }}" title="{{ item.image_title }}">
                            <h3 class="title">{{ item.name }}</h3>
                            <div class="desc">
                                {{ item.description| raw }}
                            </div>
                        </div>
                        <!-- /.stages_of-work-item -->
                    {% endfor %}
                </div>
                <!-- /.stages_of-work -->
            {% endif %}

        </div>
    </div>
</div>

<div class="container">
    {{ use('frontend/widgets/NewsArticlesList') }}
    {{ news_articles_list_widget() }}
</div>

{{ use('frontend/widgets/Guestbook') }}
{{ guestbook_widget() }}