{{ set(this, 'title', model.title) }}
{{ this.registerMetaTag({'name':'description', 'content': model.description}) }}

{% if model.slider_text_id %}
    {{ void(this.beginBlock('carousel')) }}
        {{ use('frontend/widgets/Slider') }}
        {{ slider_widget({'items': model.sliderText.sliderTextItems }) }}
    {{ void(this.endBlock()) }}
{% endif %}

<div class="container wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="center content">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li>{{ model.name }}</li>
                    </ul>
                </div>
                <!-- /.breadcrumbs -->

                <h1>{{ model.name }}</h1>
                {{ model.text| raw }}
            </div>
        </div>
    </div>
</div>